################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
bin
obj
/obj
/UpgradeLog.htm
/UpgradeLog2.htm
/UpgradeLog3.htm
/UpgradeLog4.htm
/UpgradeLog5.htm
/.vs/Quickstarts/v15/Server/sqlite3/db.lock
/.vs/Quickstarts/v15/Server/sqlite3/storage.ide-shm
/.vs/Quickstarts/v15/Server/sqlite3/storage.ide
/.vs/Quickstarts/v15/Server/sqlite3/storage.ide-wal
/.vs/Quickstarts/v15/.suo
**simulated-device/obj
.vs/Quickstarts/v16/.suo
.vs/Quickstarts/v16/.suo
ConfigUpdater/obj/Debug/ConfigUpdater.csproj.CoreCompileInputs.cache
ConfigUpdater/obj/Debug/ConfigUpdater.csprojAssemblyReference.cache
ProvisioningProject/obj/Debug/ProvisioningProject.deployproj.FileListAbsolute.txt
simulated-device/bin/Debug/netcoreapp2.1/simulated-device.dll
simulated-device/bin/Debug/netcoreapp2.1/simulated-device.pdb
simulated-device/obj/Debug/netcoreapp2.1/simulated-device.assets.cache
simulated-device/obj/Debug/netcoreapp2.1/simulated-device.csproj.FileListAbsolute.txt
simulated-device/obj/Debug/netcoreapp2.1/simulated-device.dll
simulated-device/obj/Debug/netcoreapp2.1/simulated-device.pdb
