################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomAnalysers/AttributeAnalyzer/AttributeAnalyzer/obj/Debug/netstandard1.3
